{% base "base.html" %}

{% piece "content" %}
<h1 class="name">{{ post.name }}</h1>
<br style="clear: both"; />
<div class="text">
  {% if post.text %}
    {{ post.text }}
  {% else %}
    Click to edit
  {% endif %}
</div>

{% if user.is_authenticated() %}
{% if post.is_draft %}
<p>This post is a draft</p>
{% endif %}
{% body_scripts "blog:jeditable" %}
<script type="text/javascript">
  $(document).ready(function () {
    $('.name').editable('save-name/');
    $('.text').editable('save-text/', {
      loadurl: 'markdown/',
      type: 'textarea',
      cancel: 'Cancel',
      submit: 'Save',
      rows: 35
   });
  })
</script>
<form action="delete/" method="POST">
  <input  value="delete" type="submit" />
</form>
<form action="publish/" method="POST">
  <input name="action" value="{% if post.is_draft == False %}unpublish{% else %}publish{% endif %}" type="submit" />
</form>

{% endif %}

{% endpiece %}

